# Python
models/
load_model.py
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# MLflow
mlruns/
mlartifacts/

# DVC
.dvc/cache
.dvcignore

# Data
data/raw/*.csv
*.pkl
*.joblib

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db