# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
# Data
data/raw/*.csv
*.pkl
*.joblib
# MLflow
upload.py
models/
mlruns/
mlflow.db
# Git
.git/
.gitignore
# Tests
tests/
htmlcov/
.coverage
# Documentation
docs/
*.md
# IDE
.vscode/
.idea/
# DVC
.dvc/cache/

